body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1C1D21;
}

h1, h2 {
  font-family:'Titillium Web', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  color: #565555;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 32px 24px;
  position: relative;
  top: 64px;
}

/* Header */

header {
  height: 64px;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Titillium Web', sans-serif;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 97%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 1.25em;
}

header li {
  padding: 10px 8px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s linear;
}

header li:hover {
  color: white;
  background-color: #0B3954;
  border-radius: 10px;
}

/* Main Banner */

#grey {
  background-color: #ECEBEB;
}

.banner {
  display: flex;
  align-items: center;
}

.photo-banner {
  min-width: 60%;
}

.photo-banner img {
  width: 100%;
}

.learn {
  padding-left: 24px;
  padding-right: 280px;
}

.button {
  color: white;
  background-color: #565555;
  padding: 8px 20px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.25em;
  width: 350px;
  transition: background-color 1.5s ease-out;
}

.button:hover {
  background-color: #0B3954;
}

.banner h1, .banner h3 {
  padding-bottom: 40px;
}

/* News Section */

.news {
  display: inline-flex;
}

.hightlight {
  min-width: 60%;
  padding-right: 24px;
}

.hightlight img {
  width: 100%;
}

.hightlight h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.author {
  font-size: 0.75em;
  padding-top: 32px;
}

.entries {
  min-width: 40%;
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  padding: 16px;
  align-items: center;
  border: 1px solid #ECEBEB;
  flex: 1;
}

.entry img {
  width: 35%;
}

.entry-text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.orientation {
  background-image: url("../images/information-orientation.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 35%;
}

.campus {
  background-image: url("../images/information-campus.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 35%;
}

.lecture {
  background-image: url("../images/information-guest-lecture.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 35%;
}

.entry-text h3, .entry-text p {
  padding-bottom: 15px;
}

.read-more {
  color: #0B3954;
}

.read-more:hover {
  color: #BFD7EA;
}

/* Courses Section */

#courses-grey {
  background-color: #ECEBEB;
}

.container .courses {
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
}

.course-text {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.course {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
  flex: 1;
}

.course img {
  height: auto;
  width: 100%;
}

.course-image {
  opacity: 1;
}

.course-image:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.title {
  text-align: center;
}

.subtitle {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Thesis */

.thesis {
  display: inline-flex;
  padding-top: 32px;
}

.video {
  min-width: 60%;
  padding-right: 24px;
}

.video h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

video {
  max-width: 100%;
}

.fisma {
  background-image: url("../images/thesis-fisma.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 35%;
}

.now {
  background-image: url("../images/thesis-now-and-then.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 35%;
}

/* Footer */

footer .container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ECEBEB;
}

footer li {
  display: inline-block;
  color: #0B3954;
  padding-left: 10px;
}

footer li:hover {
  color: #BFD7EA;
}

/* Mobile */

.mobile-menu {
  display: flex;
  justify-content: center;
}

.mobile-menu img {
  padding-left: 30px;
  padding-right: 30px;
}

.courses-mobile {
  padding-bottom: 24px;
}

.course-mobile {
  padding: 16px;
  background-color: #ECEBEB;
  margin: 4px 24px;
}

@media only screen and (max-width: 480px){

  .main-menu, .logo, .navigation, .hightlight, .course {
    display: none;
  }

  .photo-banner {
    min-width: 100%;
    height: auto;
  }

  .container {
    padding: 0;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  .learn {
    padding: 32px 16px;
    max-width: 350px;
  }

  .button {
    max-width: 310px;
  }

  .news {
    flex-direction: column;
  }

  .entry {
    display: block;
  }

  .orientation, .campus, .lecture {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: auto;
  }

  .orientation {
    background-image: url("../images/information-orientation-mobile.jpg");
  }

  .campus {
    background-image: url("../images/information-campus-mobile.jpg");
  }

  .lecture {
    background-image: url("../images/information-guest-lecture-mobile.jpg");
  }

  .entry-text {
    max-width: 100%;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .entries #grey {
    background-color: white;
  }

  .title {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  #courses-grey {
    background-color: white;
  }

  .thesis .entry-text, .thesis .entries {
    display: none;
  }

  .video {
    width: 100%;
    padding: 0;
  }

  #thesis {
    padding-bottom: 24px;
    border-top: 1px solid #ECEBEB;
  }

  .thesis {
    padding-top: 0;
  }

  footer .container {
    border: none;
    font-size: 13px;
  }

  .copy {
    padding: 16px 24px;
  }

}


@media only screen and (min-width: 480px){

  .mobile-menu, .courses-mobile {
    display: none;
  }

}
